html {
	height:100%;
}

body {
	font-family: 'Segoe UI', Tahoma, Helvetica, Arial, sans-serif;
	height: 100%;
	width: 90%;
	margin: 70px;
	padding: 0;
	background-color: #f8f0e0; /*parchment*/;
	color: #000000; /*black*/
}
/*===============indicates no border around any image ============*/
body img {
	border: 0px;
	text-decoration: none;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.photo-card {
  background: #ffffff;
  border-radius: 10px;
  position: relative;
  width: 250px;
  height: 95%;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.photo-card:hover {
 transform: scale(1.0); 
}

.photo-card img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  display: block;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85em;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.photo-card:hover .overlay-text {
  opacity: 1;
}

.caption {
  padding: 15px;
  font-size: 0.95em;
  color: #555;
  text-align: center;
}

/* =================Styles for heading tags =============== */
h1, h2, h3, h4 {
	color: #485E48; /*dk green*/;
	background-color: inherit;
}
h1 {
	font-size: 1.5em;
  text-align: center; 
  background: #EBDF9F;
  margin-bottom: 30px;  
}
h2 {
	font-size: 1em;
}
h3 {
	font-size: .9em;
}
h4 {
	font-size: .9em;
}